body{
    font-family: 'Noto Sans TC', sans-serif, Arial;
}

main{
    width: 100%;
}

@media screen and (min-width: 768px) {
    main{
        width: 960px;
        margin: 100px auto;
    }
    
    section{
        position: relative;
        margin-top: 100px;
    }
    
    .wrap{
        width: 100%;
        margin: auto;
        display: flex;
    }
    
    .wrap.odd{
        justify-content: space-between;
    }
    
    .wrap.even{
        flex-direction: row-reverse;
    }
    
    .img{
        width: 695px;
        height: 430px;
        position: absolute;
        top: 141.5px;
    }
    .img img{
        width: 100%;
    }
    
    .img.odd{
        right: 85px;
    }
    
    .img.even{
        left: 7px;
    }
    
    .video_icon{
        width: 57px;
        height: 36px;
        position: absolute;
        top: 350px;
    }
    
    .video_icon.odd{
        right: 75px;
    }
    
    .video_icon.even{
        left: 0;
    }
    
    .title{
        width: 355px;
        position: relative;
        z-index: 1;
    }
    
    .title.even{
        right: 0;
    }
    
    .bg_box{
        background-color: #eee;
        width: 440px;
        height: 290px;
        margin-top: 50px;
    }
    
    .bg_box.even{
        height: 360px;
        position: relative;
        left: 177px;
    }
    
    .title div:first-of-type p{
        color: #fff;
        font-size: 120px;
        font-weight: 100;
        writing-mode: vertical-lr;
        text-orientation: sideways;
    }
    
    .title div:first-of-type{
        background-color: #bb0404;
        color: #fff;
        font-size: 50px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .title.odd div:first-of-type{
        padding: 5px 20px 5px 0;
    }
    
    .title.even div:first-of-type{
        padding: 5px 0 5px 20px;
    }
    
    .title div:last-of-type{
        color: #fff;
        background-color: #000;
        font-weight: 100;
        font-size: 15px;
        padding: 25px 15px;
    }
    
    .title div:last-of-type :first-child{
        font-weight: 500;
        font-size: 20px;
    }
    
    .title div:last-of-type :last-child{
        margin-top: 10px;
        line-height: 2em;
        text-align: justify;
        letter-spacing: .2em;
    }
    
    .content{
        width: 655px;
        background-color: #eee;
        color: #777;
        font-size: 15px;
        font-weight: 500;
        padding: 20px;
        position: relative;
        z-index: 1;
    }
    
    .content.odd{
        margin-top: 165px;
        margin-left: 50px;
    }
    
    .content.even{
        margin-top: 90px;
        margin-left: auto;
    }

    #third-content{
        margin-top: 130px;
    }
    
    .content_title{
        color:  #bb0404;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .content_title::after{
        content: '';
        position: absolute;
        right: 20px;
        top: 30px;
        background-color:  #bb0404;
        width: 460px;
        height: 2px;
    }
    
    .content h3{
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        background-color: #000;
        display: inline-block;
        padding: 5px 5px;
        margin: 10px 0;
        letter-spacing: .1em;
    }
    
    .content p:not([class="title"])::before{
        content: '．';
        color:  #bb0404;
    }
    
    .content p{
        padding-left: 1em;
        text-indent: -1em;
        line-height: 1.3em;
    }
}












