@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif, Arial;
}

.wrap{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.item{
    padding-top: 60px;
    padding-bottom: 60px;
}

.item .title{
    width: 33.333333%;
    background-color: red;
    color: #fff;
    position: relative;
    z-index: 3;
}

.item:nth-child(even) .title{
    margin-left: auto;
}
.title_head:first-of-type p{
    color: #fff;
    font-size: 120px;
    font-weight: 100;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
.title_head:first-of-type{
    background-color: #bb0404;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .title h2{
    font-size: 42px;
}

.title_txt{
    background-color: #000;
    position: absolute;
    padding: 30px;
}
.title_txt :first-child{
    font-weight: 500;
    font-size: 20px;
}
.title_txt :last-child{
    margin-top: 10px;
    line-height: 2em;
    text-align: justify;
    letter-spacing: .2em;
}
.item .img{
    width: 66.666666%;
    margin-left: 20%;
    margin-bottom: -2em;
    position: relative;
}

.item:nth-child(even) .img{
    margin-left: 10%;
}

.item .img:after{
    content: '';
    width: 400px;
    height: 250px;
    background-color: #eeeeee;
    position: absolute;
    top: -100px;
    right: -60px;
}

.item .img a{
    display:flex;
    flex-wrap: wrap;
    outline: 1px solid block;
    align-items: center;
    position: relative;
    z-index: 1;
}

.item:nth-child(even) .img a{
    flex-direction: row-reverse;
}

.item .img .main-img{
    width: 96.875%;
    margin-right: -6.25%;
}

.item:nth-child(even) .img .main-img{
    margin-left: -6.25%;
    margin-right: auto;
}

.item .img .icon{
    width: 9.375%;
    border-radius: 5px;
}

.item .content{
    width: 66.666666%;
    margin-left: 10%;
    padding: 20px;
    background-color: #eeeeee;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.item:nth-child(even) .content{
    margin-left: 20%;
}

.item h3{
    background-color: #000;
    color: #fff;
    align-self: flex-start;
    padding: 2px 10px;
}
li{}
.item .slg{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    color: red;
    display: flex; 
    align-items: center;
    order: -1;
}
.item .slg::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: #f00;
    margin-left: 10px;
    flex-grow: 1
}




